        * {
            box-sizing: border-box;
        }
        
        body {
            padding: 0;
            margin: 0;
        }
        
        .header {
            clear: both;
            width: 100%;
        }
        
        .header .logo {
            padding: 0;
            padding-top: 1em;
            padding-left: 1em;
            float: left;
            height: 100px;
            margin-bottom: 1em;
            overflow: none
        }
        
        .header .logo img {
            width: auto;
            height: 100%;
        }
        
        .header .motto {
            padding: 0;
            padding-top: 1em;
            float: right;
            height: 100%;
        }
        
        .header .motto label {
            font-display: flex;
            font-size: 20px;
            font-size-adjust: inherit;
            font-family: "Lucida Console", monaco, monospace;
            width: 100%;
        }
        .msg {
            color:red;
            margin-left:1em;
        }
        /*mobile view for header*/
        
        @media screen and (max-width:600px) {
            .header {
                padding: 0.5em;
            }
            .header .logo {
                padding: 0;
                width: 50%;
            }
            .header .logo img {
                width: 100%;
            }
            .header .motto {
                padding: 0.5em;
                width: 50%;
            }
        }
        
        @media screen and (max-width:310px) {
            .header {
                padding: 0.5em;
            }
            .header .logo {
                padding: 0;
                width: 100%;
                clear: both;
            }
            .logo img {
                max-width: 100%;
            }
            .header .motto {
                width: 100%;
                padding: 0;
                text-align: left;
                clear: both;
            }
        }
        /* mobile view for header ends. */
        /* Desktop view for aim */
        
        .aim {
            clear: both;
            width: 100%;
            padding: 3em;
            padding-bottom: 5em;
            color: cornsilk;
            background-color: rgb(0, 0, 70);
            opacity: 0.8;
        }
        /* desktop view for aim ends */
        /* mobile view for aim */
        
        @media screen and (max-width:250px) {
            .aim {
                margin: 0;
                padding: 2em;
            }
        }
        
        @media screen and (max-width:200px) {
            .aim h2 {
                font-size: 25px;
            }
        }
        /* mobile view for aim ends */
        /* Desktop view for textareaAndFeedback */
        
        div.textareaAndFeedback {
            clear: both;
            width: 100%;
            padding: 3em;
            height: 500px;
        }
        
        div.textareaAndFeedback form div.modify textarea {
            height: 100px;
        }
        
        .textareaAndFeedback .textarea {
            width: 50%;
            float: left;
        }
        
        div.textareaAndFeedback form input[type="submit"] {
            border-style: groove;
            border-radius: 10px;
            border-color: rgb(0, 0, 70);
            padding: 1em;
            -webkit-transition-duration: 0.4s;
            /* Safari */
            transition-duration: 0.4s;
            /*  */
        }
        
        input[type="submit"]:hover {
            background-color: rgb(0, 0, 70);
            color: cornsilk
        }
        
        div.FAQ {
            visibility : none;
            width: 40%;
            float: right;
            padding: 1em;
            color:rgb(210, 21, 70);
            background-color:rgb(70,10,0);
            box-shadow: 2px 2px 4px 4px gray;
        }
        /* beginning of mobile view for textareaANdFeedback*/
        
        @media screen and (max-width:620px) {
            div.textareaAndFeedback {
                height: auto;
                padding: 0;
            }
            .textareaAndFeedback .textarea {
                width: 100%;
                float: none;
                clear: both
            }
            .textareaAndFeedback .FAQ {
                width: 100%;
                clear: both;
                float: none;
                padding: 1em;
                margin-top: 1em;
            }
        }
        /* ENd of mobile view for textareaANdFeedback */
        /* starts desktop view for footer */
        
        div.footer {
            clear: both;
            width: 100%;
            background-color: rgb(0, 0, 70);
            height: 100px;
            color: cornsilk
        }
        
        div.footer h5 {
            padding: 1em;
            display: block;
            float: left;
        }
        
        div.footer div.icons {
            float: right;
            padding: 1em
        }
        
        div.footer div.icons img {
            display: block;
            float: left;
            width: 50px;
            height: 50px;
            margin-right: 1em;
        }
        
        div.footer div.icons img:hover {
            width: 55px;
            height: 55px
        }
        /*  */
        
        @media only screen and (max-width: 550px) {
            div.footer h5 {
                width: 50%;
            }
            div.footer div.icons {
                width: 50%
            }
            div.footer div.icons img {
                width: 40px;
                height: 40px;
            }
        }
        
        @media only screen and (max-width: 500px) {
            div.footer {
                height: 150px;
            }
            div.footer h5 {
                width: 100%;
                float: none;
                clear: both;
            }
            div.footer div.icons {
                width: 100%;
                float: none;
                clear: both;
            }
        }
        
        @media only screen and (max-width: 280px) {
            div.footer {
                height: 200px;
            }
        }
        /*  */
        
        @media only screen and (max-width: 336px) {
            * {
                overflow-x: hidden;
            }
            .footer {
                overflow: unset;
            }
        }
