body{
  width:100%;
  height:100%;
  margin: 0;
  text-decoration:none;
  background-size:100% 100%;
  background-color:RGB(250,250,250);
  background-position:fixed;
  /*background-image: url('freelance1.jpg');*/
  opacity:1;
  background-repeat:no-repeat;
  background-position:fixed;
  filter:alpha(opacity=100);
  z-index: -1
  /*linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
}
.border {
    color: rgb(0,0,70);
    background-color: rgb(0,0,70);
    width: 100%;
    height:auto;
    margin-top:-0.5em;
    border: 5px thin rgb(0,0,70);
    
}
a {
    text-decoration:none;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: rgb(0,0,70); /*#333*/
  font-family: Arial;
}

/* The dropdown container *
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button *
.dropdown .dropbtn {
  font-size: 16px; 
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones *
  margin: 0; /* Important for vertical align on mobile phones *
}
.dropdown .dropbtn {
    font-size: 16px; 
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit; * Important for vertical align on mobile phones *
    margin: 0; /* Important for vertical align on mobile phones *
  }
  

/* Links inside the navbar */
/*.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}*
.navbar i{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.profileimg {
    width:0.5em; 
    height:0.1em; 
    float:left;
}

/* Add a red background color to navbar links on hover */
/*.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: darkred;
}*
.navbar i:hover, .dropdown:hover .dropbtn {
  background-color: darkred;
}
/* Dropdown content (hidden by default) *
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


/* Links inside the dropdown */
/*.dropdown-content a {
  float: none;
  color: white;
  background-color:RGB(10,0,0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}*
.dropdown-content i {
  float: none;
  color: white;
  background-color:RGB(10,0,0);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}



/* Add a grey background color to dropdown links on hover */
/*.dropdown-content a:hover {
  background-color: red;
}*
.dropdown-content i:hover {
  background-color: red;
}

/* Show the dropdown menu on hover *
.dropdown:hover .dropdown-content {
  display: block;
}
*/

.btn1{
  background-color: white;
  
  color: green;
  font-size: 0.8em;
  height: 2.5em;
  margin-left:1em;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 0.5em;
  border: none;
  -o-transition: all 0.218s;
  -moz-transition: all 0.218s;
  -webkit-transition: all 0.218s;
  transition: all 0.218s;
}

.btn1:hover,
.btn1:active,
.btn1:focus {
  background-color: rgb(255,0,0);
}

.headline {
  float:right; 
  margin-right:1em;
  position: relative; 
  margin-top:1.7em;
  margin-bottom:0em;
}
.head-line {
  float:left; 
  margin-left:0.5em;
  position: relative; 
  margin-top:0.5em;
  margin-bottom:0em;
}
.txt1 {
  font-size:1em;
  margin-left:1em;
  margin-right:1em;
  color:darkgreen;
  font-weight: bold;
}
.txt1:hover,
.txt1:active,
.txt1:focus{
color:white;
}

.locsize {
  color:white; 
  margin-top:0.5em;
  font-size:1em;
}

.resize {
  color:white;
  margin-left:0em;
  font-size:1em;
}
.namesize {
  color:white; 
  font-size:1em;
}
.mark {
  width:2.5em; height:2.5em;
  -webkit-filter:invert(100%);
  filter:invert(100%);
  background-color: ;
}
@media screen and (max-width:720px){
    .txt1 {
      font-size:1em;
      margin-left:0.5em;
      margin-right:.5em;
      color:darkgreen;
      font-weight: bold;
    }
    .btn1{
      background-color: white;
      color: green;
      font-size: 0.8em;
      height: 2em;
      margin-left:0.5em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 0.5em;
      border: none;
      -o-transition: all 0.218s;
      -moz-transition: all 0.218s;
      -webkit-transition: all 0.218s;
      transition: all 0.218s;
    }
    .locsize {
      color:white; 
      margin-top:0.5em;
      font-size:0.9em;
    }
    .box {
      max-width:50%;
    }
    .namesize {
      color:white; 
      font-size:1em;
    }
    .headline {
      float:right; 
      margin-right:0.5em;
      position: relative; 
      margin-top:2em;
      margin-bottom:0em;
    }
    .head-line {
      float:left; 
      max-width:70%;
      margin-left:0em;
      position: relative; 
      margin-top:0.5em;
      margin-bottom:0em;
    }
    .mark {
      width:2em; height:2em;
      -webkit-filter:invert(100%);
      filter:invert(100%);
      background-color: ;
    }

  }

@media screen and (max-width:540px){
    .txt1 {
      font-size:1em;
      margin-left:0.5em;
      margin-right:.5em;
      color:darkgreen;
      font-weight: bold;
    }
    .btn1{
      background-color: white;
      color: green;
      font-size: 0.8em;
      height: 2em;
      margin-left:0.5em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 0.5em;
      border: none;
      -o-transition: all 0.218s;
      -moz-transition: all 0.218s;
      -webkit-transition: all 0.218s;
      transition: all 0.218s;
    }
    .locsize {
      color:white; 
      margin-top:0.5em;
      font-size:0.8em;
    }
    .box {
      max-width:50%;
    }
    .namesize {
      color:white; 
      font-size:0.9em;
    }
    .headline {
      float:right; 
      margin-right:0.5em;
      position: relative; 
      margin-top:2em;
      margin-bottom:0em;
    }
    .head-line {
      float:left; 
      max-width:50%;
      margin-left:0em;
      position: relative; 
      margin-top:0.5em;
      margin-bottom:0em;
    }
    .mark {
      width:1.8em; height:1.8em;
      -webkit-filter:invert(100%);
      filter:invert(100%);
      background-color: ;
    }

  }

  @media screen and (max-width:360px){
    .txt1 {
      font-size:0.8em;
      margin-left:0.5em;
      margin-right:.5em;
      color:darkgreen;
      font-weight: bold;
    }
    .btn1{
      background-color: white;
      color: green;
      font-size: 0.8em;
      height: 2em;
      margin-left:0.5em;
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 0.5em;
      border: none;
      -o-transition: all 0.218s;
      -moz-transition: all 0.218s;
      -webkit-transition: all 0.218s;
      transition: all 0.218s;
    }
    .locsize {
      color:white; 
      margin-top:0.5em;
      font-size:0.8em;
    }
    .box {
      max-width:50%;
    }
    .resize {
      color:white;
      margin-left:2em;
      font-size:0.8em;
    }
    .namesize {
      color:white; 
      font-size:0.8em;
    }
    .headline {
      float:right; 
      margin-right:0.5em;
      position: relative; 
      margin-top:2em;
      margin-bottom:0em;
    }
    .head-line {
      float:left; 
      max-width:50%;
      margin-left:0em;
      position: relative; 
      margin-top:0em;
      margin-bottom:0em;
    }
    .mark {
      width:1.5em; height:1.5em;
      -webkit-filter:invert(100%);
      filter:invert(100%);
      background-color: ;
    }

  }


