*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
div.container{
    width:60%;
    padding: 1em;
    padding-right: 3em;
    padding-left: 3em;
    margin:auto;
    margin-top:5%;
    border-style: outset;
    border-color: rgba(0, 0, 70);
}
.input-field input[type=text].valid, input[type=password].valid, input[type=number].valid{
    border-bottom: 1px solid lime;
    box-shadow: 0 1px 0 0 #000;
}
.container img{
    width:150px;
    height: 100px;
    display: block;
    margin:auto;
}
.halfWidth{
    width:45%;
    float:left;
}
.button{
    width:50%;
    clear:both;
    margin:auto;
}
.button  a{
    width:48%;
    display: inline-block;
    background-color: rgba(0, 0, 70);
    text-align: center;
    padding:1em;
    color:cornsilk;
    transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
}
.button a:hover{
    background-color: cornsilk;
    color:rgba(0, 0, 70);
}
/* mobile view fo authenticate and save */
@media screen and (max-width:905px){
    div.button{
        width:60%;
    }
}
@media screen and (max-width:770px){
    div.button{
        width:80%;
    }
}
@media screen and (max-width:600px){
    div.button{
        width:90%;
    }
}
@media screen and (max-width:550px){
    div.container{
        width:80%;
    }
}
@media screen and (max-width:425px){
    .halfWidth{
        width:100%;
    }
    div.button{
        display: block;
        width:100%;
    }
}
@media screen and (max-width:385px){
    div.button a{
        display: block;
        width:60%;
        margin:auto;
        margin-top:1em;
        margin-bottom: 1em;
    }
}
@media screen and (max-width:340px){
    div.button a{
        width:90%;
        word-wrap: break-word;
    }
}