body {
	margin: 0;
}

a{
    text-decoration : underline;
}

#top img{
	float: left;
    padding: 5px 0px 10px 30px;
}

#top h2{
	float: right;
    padding: 20px 30px 0px 0px;
}

.section{
    clear: both;
    padding: 10px 0px 30px 30px;
}

.section h2 {
    font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 2.5em;
    color: black;
    
    
}
div.section{
    width:45%;
    float:left;
}
div.login{
    width:50%;
    float:left;
}
div.Personal{
    margin-top:4.5em;
    margin-left:10em;
    margin-bottom: 2em;
    padding: 2em;
    padding-bottom:1.5em;
    border-style : outset;
    border-width: thick;
    border-color: #98bf21;
    border-collapse:collapse;
    width:auto;
    height:100%;
    float:left;
    line-height : 2em
}
input[type="text"],input[type="email"],input[type="tel"],input[type="password"],input[type="url"]{
    color:#000000;
    font-size: 1em;
    font-style:normal;
    border: thin solid;
    border-radius: 25px;
    width:20em;
    height:2em;
}
button.signup, input.signup{
   width:5em;
   font-size : large;
   font-weight : normal;
   height:2em;
   font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
   background-color : #98bf21;
   padding: 0;
}
.section p {
    font-size: 2em;
    color: black;
    width: 50%;
    
}

button {
    font-size:20px;
    font-weight:bolder;
    border-radius: 5px;
    height: 3em;
    color:black ;
    padding:1em;
    background-color:#98bf21;
}
input.display-button:hover{
    cursor:pointer;
}

